* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura total da janela */
    margin: 0; /* Remove margens padrão do corpo */
}

html {
    background: #ffffff;
}

main {
    background: #ffffff;
}

h2 {
    color: black;
}

h6 {
    color: black;
}

h5 {
    color: black;
}

h4 {
    color: black;
}

a {
    font-size: large;
    margin-block: -5px;
}

p {
    color: black;
}

p.card-text {
    color: black;
    align-items: center;
    text-align: center;
}

.header {
    background: #212529;
}

img.navbar-brand {
    width: 150px;
    height: 130px;
    margin-right: 25px;
}

.container {
    text-align: justify;
}

.container-info {
    margin-right: 18%;
    margin-bottom: 10%;
}

@media screen and (max-width: 992px) {
    .carousel-item img {
        width: 80%;
        padding-left: 20%;
    }

    .container-info {
        margin-top: 10%;
        padding-left: 10%;
        margin-right: 18%;
        margin-bottom: 10%;
    }
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.profile-header-container {
    margin: 0 auto;
    text-align: left;
    margin-top: 0;
}

.profile-header-img {
    padding: 54px;
}

img.img-circle {
    width: 100%;
    height: 100%;
}

.fa {
    color: white;
    width: 50px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

.fa:hover {
    opacity: 0.8;
}

.footertext {
    margin: 0;
    align-self: center;
    color: #ffffff;
}

footer {
    footer {
        position: fixed; /* Fixa o rodapé na parte inferior da janela */
        bottom: 0; /* Posiciona o rodapé na parte inferior */
        left: 0; /* Alinha o rodapé à esquerda */
        right: 0; /* Alinha o rodapé à direita */
        background-color: #942b2b; /* Cor de fundo do rodapé */
        padding: 10px 0; /* Adiciona algum padding */
        margin-top: 0;
    }
}

.content {
    flex: 1; /* Permite que o conteúdo acima do rodapé ocupe o espaço restante */
}

/*barra de pesquisa*/
.navbar-custom {
    background-color: #942b2b;
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .nav-link:hover, .navbar-custom .navbar-brand:hover {
    color: #dddddd; /* Um tom mais claro ao passar o mouse, opcional */
}

.elenco-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.elenco-item {
    text-align: center;
}

.elenco-item img {
    width: 150px;  /* Largura fixa */
    height: 200px; /* Altura fixa */
    object-fit: cover; /* Mantém o aspecto de corte adequado */
    border-radius: 10px;
}

.elenco-item p {
    margin-top: 10px;
    font-size: 16px;
}